<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input type="text" formControlName="firstName" pInputText placeholder="FirstName">
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input type="text" formControlName="lastName" pInputText placeholder="LastName">
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input type="email" formControlName="email" pInputText placeholder="Email">
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input type="text" formControlName="login" pInputText placeholder="Login">
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input type="password" formControlName="password" pPassword placeholder="Password">
        </div>

        <p-fileUpload mode="basic" chooseLabel="Choose avatar" formControlName="image" (onSelect)="onFileSelect($event)" ></p-fileUpload>

        <button type="submit" pButton label="Register" [disabled]="!registerForm.valid"></button>
    </form>
  </div>