<div class="p-inputgroup">
    <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
    </span>
    <input type="text" pInputText [(ngModel)]="searchedText" (ngModelChange)="onModelChange($event)" />
</div>
<div class="user-container">
    <div class="user-grid">
        @for (user of users; track user.email) {
            <div class="user-card">
                <p-card header="{{user.firstName}} {{user.lastName}}">
                    <ng-template pTemplate="header">
                        <img src="../../../assets/avatar.jpg"/>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        @if(!user.friendIds.includes(this.loggedUserId)) {
                            <p-button size="small" label="Add friend" (click)="addFriend(user.id)"></p-button>
                        }
                        <p-button size="small" label="Show profile" (click)="showProfile(user.id)"></p-button>
                    </ng-template>
                </p-card>
            </div>
        } @empty {
            <p>Empty list of users</p>
        }
    </div>
</div>