.container {
    display: flex;
}

.sidebar {
    width: 14rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #f0f0f0;
}
  
.content {
    flex: 1;
    padding-left: 15rem;
    overflow-y: auto;
    min-height: 100vh;
}