.navbar-list {
    margin-left: -2.5rem;
}

.item-list {
    list-style: none;
    padding: 1rem 0 1rem 0;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    transition: transform 0.3s ease;
}