.layout-wrapper {
  display: flex;
  height: 100vh;
}

.layout-sidebar {
  width: 14rem;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.layout-content {
  flex: 1;
  padding: 1rem;
}