{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      
      <div class="col-md-6">
        <h2 class="mb-4">Logowanie</h2>
        <form method="POST">
          <div class="mb-3">
            <label for="login" class="form-label">Adres email</label>
            <input type="email" class="form-control" id="loginEmail" required>
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="Password" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}